<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="repositories" type="SvnFind.XmlConfiguration, SvnFind" />
  </configSections>
  <repositories>
      <!--<repository index="C:\_Entwicklung\SvnQuery\SvnMirrorSingleRevisionIndex" />-->
      <!--<repository index="C:\_Entwicklung\SvnQuery\SvnMirrorIndex" />-->
      <repository index="C:\_Entwicklung\SvnQuery\SvnQueryDemos\SvnQueryDemo_Subversion\IndexData" />
  </repositories>
</configuration>